<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre del Proyecto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        footer {
            text-align: center;
            background-color: lightskyblue;
            padding: 10px;
        }
    </style>
</head>
<body>

    <header class="bg-success text-white text-center p-4">
        <h1>Proyectos de paginas web</h1>
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#Bienvenida">Bienvenida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#Servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#Contacto">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="container my-4">
        <section id="Bienvenida">
            <h2>!!Bienvenidos!!</h2>
            <p> ¡Bienvenido a nuestra pagina web! Aqui se encuentra toda la información que necesites como nuestros servicios y como contactarnos.</p>
        </section>

        <section id="Servicios">
            <h2>Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>Practicas</h3>
                    <p>Encontraras todo tipo de practicas y documentación</p>
                </div>
                <div class="col-md-4">
                    <h3>Ayuda</h3>
                    <p>Puedes pedir ayuda escribiendo en el foro de la comunidad</p>
                </div>
                <div class="col-md-4">
                    <h3>Enlaces</h3>
                    <p>Cualquier enlace sobre documentación y nuestro foro</p>
                </div>
            </div>
        </section>

        <section id="Contacto">
            <h2>Contacto</h2>
            <p>Si necesitas ayuda o reportar algun fallo, comunicate en <a href="rl0151032024.unab.edu.sv">contactarnos</a></p>
            <p>Síguenos en todas nuestras redes sociales:</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter o X</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Proyectos de paginas web. Todos los derechos reservados.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
